.heading{
    width: 100%;
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;
    box-shadow: 5px 5px 5px grey;
}
.footer{
    width: 100%;
    font-family: 'Balsamiq Sans', cursive;
    bottom: 0;
    margin: 0;
    position: fixed;
    background-color: #dc3545;
    color: white;
}
body{
    background: linear-gradient(#FC5C7D, #6A82FB);
}
canvas{
    margin-left: 10px;
    box-shadow: 5px 5px 5px grey;
}